body {
  color: #818181;
  font-family: "Open Sans",sans-serif;
}
.header_bar {
  border-radius: 0;
}
.header_bar .navbar-brand {
  height: 70px;
}
.header_bar main {
  margin-top: 0px;
}
header {
  padding-top: 30px;
}
.header_bar .navbar-nav li a.active {
  color: #ec3a3e;
}
/**sidbar menu**/
.sidenav {
  background-color: #111;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 100px;
  position: fixed;
  text-align: left;
  top: 0;
  transition: all 0.5s ease 0s;
  width: 0;
  z-index: 1;
  color:#fff;
}
.sidenav a {
  color: #fff;
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .side_menu a {
  font-size: 24px;
  font-weight: 600;
  padding-left: 8px;
}

.sidenav .closebtn {
  font-size: 30px;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: 0;
}
.side_menu {
  border-right: 1px solid #ffffff;
  padding-left: 32px;
}
.login_side {
  padding-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
/**sidbar menu close**/

.btn-red{
	border-color:#ec3a3e;
	background:#ec3a3e;
	color:#fff;
}
.btn-none{
	border-color:#fff;
	background:transparent;
	color:#fff;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
  opacity: 0.8;
}
.border-radius
{
	border-radius:0px;
}
.login_side .btn {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}
.text-red{
	color:#ec3a3e !important;
}
h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
  font-weight: 600;
  margin-top: 0;
}
.social_ico a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 5px 0 0;
  text-align: center;
  width: 30px;
  background: #c0c4c7 none repeat scroll 0 0;
  color: #fff;
  padding:0px;
}
.social_ico {
  float: left;
  margin-top: 15px;
    width: 100%;
}
.contact_info {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.mar-25
{
	margin-top:25px;
}
.header_bar .navbar-toggle {
  height: auto;
  margin-top: 19px;
  padding: 7px 12px;
  cursor:pointer;
}
.social_ico a:hover {
  background: #ec3a3e none repeat scroll 0 0;
}
.sidenav .side_menu a:hover, .sidenav .side_menu a.active {
  border-left: 4px solid #ec3a3e;
  color: #ec3a3e;
}
.top_section {
  float: left;
  margin-bottom: 25px;
  width: 100%;
}
.chu-section {
  float: left;
  padding: 40px 0;
  width: 100%;
}
section {
  float: left;
  width: 100%;
}
.bg-gray{
	background-color:#262627;
	color:#fff;
}
.section-cover {
  float: left;
  padding: 40px;
  width: 100%;
}
.bg-gray h1, .bg-gray h4 {
  color: #fff;
}
.ico-cover {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  border-radius: 100px;
  clear: both;
  height: 100px;
  line-height: 100px;
  margin: auto auto 20px;
  position: relative;
  text-align: center;
  width: 100px;
}
.view-btn ,.view-btn:hover,.view-btn:focus{
  color: #ffffff;
  font-weight: 600;
  text-decoration:none;
}
.ico-cover::after {
  border: 4px solid #050505;
  border-radius: 100px;
  content: "";
  height: 90px;
  left: 5px;
  line-height: 90px;
  position: absolute;
  top: 5px;
  width: 90px;
}
.login_side h3 {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
	.side_menu {
  border-right: none;
}

}

.col-sm-6 side_menu{
  width: 200px;
}

.col-sm-6 login_side{
  position:relative;
    float:right;
    right: 0px;
    width: 300px;
    padding: 10px;
    margin-left:auto; margin-right:0;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

.text-red{
  float: right;
}