<div class="container">
	<form class="dugme" #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
	<div>
      <label for="Id">Id</label>
      <input type="text" name="id" ngModel>
    </div>
    <div>
      <label for="Name">Name</label>
      <input type="text" name="name" ngModel>
    </div> 
    <div>
      <label for="Code">Code</label>
      <input type="text" name="code" ngModel>
    </div> 
      <input type="submit">
      <button type="submit" [routerLink]="['/country']">CANCEL</button>
</form>
</div>

<!--<div >
   <label for="Name">Name</label>
        <input type="text" [(ngModel)]="brisanje" />
  <td><button (click)="deleteCountry(brisanje)">Remove</button></td>
</div>-->
