<div class="container">
  <form>
    <div>
    
      <label>
        ID<br>
        <input name="id1" type="text">
      </label>
    
      <label>
        Name<br>
        <input name="name1" type="text" name="Name" [(ngModel)]="model.Name" #Name="ngModel" required>
      </label>
      <label>
        Region<br>
        <input type="text">
      </label>
    </div>
  </form>

  <form class="dugme" #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" >
    <input type="submit">
    <!--<input type="submit" [routerLink]="['/accommodationtype']">SUBMIT</input>-->
    <!--<button type="submit" [routerLink]="['/accommodationtype']">CANCEL</button>-->
  </form>
</div>


