<h1>About</h1>
<div class="tekst">
<p>Blue Lagoon, part of the Priceline Group (Nasdaq: PCLN), owns and operates BlueLagoon.com™, the world leader in booking accommodations online. Each day, over 1,200,000 room nights are reserved on Booking.com. The BlueLagoon.com website and apps attract visitors from both the leisure and business sectors worldwide.</p><br>

<p>Established in 2017, BlueLagoon.com B.V. guarantees the best prices for every type of property, from small, family-run bed and breakfasts to executive apartments and five-star luxury suites. Truly international, Booking.com is available in more than 40 languages, and offers 1,315,730 active properties in 226 countries and territories.</p>
</div>