
<p class="bullets">
  		       <span class="outer">&bull;</span><br>
  		       <span class="outer">&bull;</span><span class="outer">&bull;</span><br>
  		       <span class="outer">&bull;</span><span class="inner">&bull;</span><span class="outer">&bull;</span><br>
  		       <span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="inner">&bull;</span><span class="inner">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><br>
  		       <span class="outer">&bull;</span><span class="inner">&bull;</span><span class="outer">&bull;</span><br>
    		     <span class="outer">&bull;</span><span class="outer">&bull;</span><br>
    		     <span class="outer">&bull;</span>
  		      </p>
  		      <p class="time">Nebojsa Kanjeric<br><br>
    		      n.kanjeric@gmail.com<br><br><br>
  		      </p>
                <p class="time">Aleksa Janjic<br><br>
    		      aleksa.janjic@hotmail.com<br>
  		      </p><p class="bullets">
  		       <span class="outer">&bull;</span><br>
  		       <span class="outer">&bull;</span><span class="outer">&bull;</span><br>
  		       <span class="outer">&bull;</span><span class="inner">&bull;</span><span class="outer">&bull;</span><br>
  		       <span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="inner">&bull;</span><span class="inner">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><span class="outer">&bull;</span><br>
  		       <span class="outer">&bull;</span><span class="inner">&bull;</span><span class="outer">&bull;</span><br>
    		     <span class="outer">&bull;</span><span class="outer">&bull;</span><br>
    		     <span class="outer">&bull;</span>
  		      </p>

<!--<img src="https://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=14&size=400x400&key=AIzaSyBVJbM4JRY3f15s3WSQh2ZCc5yDd3PFeSs" alt="nece nadje mapuuu"/>-->

<!--<img src="https://s-media-cache-ak0.pinimg.com/736x/f0/ba/84/f0ba8451311a28cb3fa3c1c16872bf86.jpg" />-->
<!--<p>
  <!-- Kreiramo mapu 
  <agm-map [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="18">
   
    <!-- Postavljamo markere 
    <agm-marker [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [title]="mapInfo.title"
    [label]="mapInfo.label">

      <!-- Svakom markeru dodajemo info-window (Nije obavezno!)
      <agm-info-window [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" >

        <!-- U info-window stavljamo html -->
       <!-- <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
        <br/>
        <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
        <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
        <a [href]="mapInfo.link">See the site.</a>
      </agm-info-window>

    </agm-marker>
  </agm-map>
</p>-->
