<section class="tabela">
  <h1>Places</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0" >
      <thead>
        <tr>
          <th>ID</th><th>Name</th><th>Region</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
         <tr *ngFor="let a of place;let i = index;">
            <td>{{a.Id}}</td>
            <td>{{a.Name}}</td>
            <td>{{a.Region}}</td>
        <tr>
      </tbody>
    </table>
  </div>
</section>


<section class="dugme">
<button type="submit" [routerLink]="['/add-place']">ADD NEW</button>
</section>

<section class="dugme">
      <button type="submit" [routerLink]="['/edit-place']">EDIT</button>
</section>

<section class="dugme">
      <button type="submit" [routerLink]="['/delete-place']">DELETE</button>
</section>