<div class="container">
	<form class="dugme" #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
	<div>
      <label for="id">Id</label>
      <input type="text" name="id" ngModel>
    </div>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" ngModel>
    </div> 
        <div>
      <label for="region">Region</label>
      <input type="text" name="region" ngModel>
    </div> 
      <input type="submit">
</form>
<!--<input type="submit" [routerLink]="['/accommodationtype']">SUBMIT</input>-->
<!--<button type="submit" [routerLink]="['/accommodationtype']">CANCEL</button>-->
</div>

<div >
   <label for="Name">Name</label>
        <input type="text" [(ngModel)]="brisanje" />
  <td><button (click)="deletePlace(brisanje)">Remove</button></td>
</div>
